<div class="container mt-5">
    <div class="card text-center" style="padding:10px;color: green;display: flex;">
        <span>
            <h5>Employee Details</h5>       
            <button type="button" class="btn btn-dark" style="margin: 5px;" routerLink="/add">Add Employee</button>
            <button type="button" class="btn btn-info" style="margin: 5px;" routerLink="/view">View Employees</button>
            <button type="button" class="btn btn-warning" style="margin: 5px;" routerLink="/edit">Edit Employees</button>
        </span>
    </div>
</div>
