<div class="container mt-5">
  <div class="card" style="padding: 20px">
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
      <div class="mb-3">
        <label for="userName" class="form-label">Username</label>
        <input
          type="text"
          name="UserName"
          placeholder="Enter your username"
          id="UserName"
          class="form-control"
          ngModel
        /><br />
      </div>
      <div class="mb-3">
        <label for="pass" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          name="Password"
          id="Password"
          placeholder="Enter your password"
          ngModel
        />
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-primary" value="login">Submit</button>
      </div>
    </form>
  </div>
</div>
